{% comment %}
  INSTAFEED
  Instagram feed.
{% endcomment %}
<div class="section">
  <div class="width-restrict pad">

    <h2>Instagram</h2>

    <!-- Make the ghost png -->
    <img id="square-png" src="{{ 'square.png' | asset_url }}" style="display: none;" />


    <div class="instagram-wrap">
      <div id="instafeed"></div>
    </div>
  </div>
</div>
