<!-- Popup newsletter cta -->
<div class="newsletter-modal" id="newsletter-modal">
  <div class="bkgd"></div>
  <div class="newsletter-content">
    <img src="{{ 'close-newsletter.svg' | asset_url }}" class="modal-close" />
    <h2>Yo Bro</h2>
    <p>Bro bro</p>
    <img src="https://www.placecage.com/g/400/300" />
  </div>
</div>
