// Main & Body Styles
// ===================================================
// ===================================================
// ===================================================
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

*
  -webkit-font-smoothing: antialiased
  -ms-interpolation-mode: bicubic

body
  color: $black
  letter-spacing: .5px
  transition: all 600ms cubic-bezier(0.58, -0.19, 0, 1)
  width: 100%
  overflow-x: hidden
  position: relative

  &.slide
    margin-left: -400px

    @media(max-width:460px)
      margin-left: -300px

main
  max-width: $max-width-large
  width: 100%
  margin: 0 auto
  position: relative

  .cart-overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 200
    display: none



.page-content
  position: relative
  top: 80px


// Section styles, width restrict, and general padding
// ===================================================
// ===================================================
// ===================================================
.section
  position: relative

.width-restrict
  max-width: $max-width
  width: 90%
  margin: 0 auto

.pad
  padding: 60px 0

.extra-pad
  padding: 120px 0

.pad-bottom
  padding-bottom: 100px

.no-top-pad
  padding-top: 0

.errors
  color: red
  text-align: left



// base paragraph, links, ul, li, etc
// ===================================================
// ===================================================
// ===================================================
p, li
  color: $dark
  font-size: 14px
  line-height: 18px

a
  color: $primary
  text-decoration: none


.centered
  text-align: center

// selection
::selection
  background: lighten($primary, 10%)
  color: white

::-moz-selection
  background: lighten($primary, 10%)
  color: white


.page404
  padding: 200px 80px

  h1
    font-size: 3em
    color: #666
    font-weight: 300

  h2
    font-style: oblique
    margin-top: 20px
    color: #aaa
    font-weight: 300

  @media (max-width:$tablet)
    padding: 150px 60px

  @media (max-width:$mobile)
    padding: 100px 30px
