// Main & Body Styles
// ===================================================
// ===================================================
// ===================================================
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

*
  -webkit-font-smoothing: antialiased
  -ms-interpolation-mode: bicubic

body
  color: $black
  letter-spacing: .5px

main
  max-width: $max-width-large
  width: 100%
  margin: 0 auto

  // bump the main div down the amount of the header's height
  margin-top: $header-height

  @media(max-width:768px)
    margin-top: $header-height-mobile


// Section styles, width restrict, and general padding
// ===================================================
// ===================================================
// ===================================================
.section
  position: relative

.width-restrict
  max-width: $max-width
  width: 90%
  margin: 0 auto

.pad
  padding: 60px 0

.extra-pad
  padding: 120px 0


.errors
  color: red
  text-align: left



// base paragraph, links, ul, li, etc
// ===================================================
// ===================================================
// ===================================================
p, li
  color: $dark
  font-size: 14px
  line-height: 18px

a
  color: $primary
  text-decoration: none




// selection
::selection
  background: lighten($primary, 10%)
  color: white

::-moz-selection
  background: lighten($primary, 10%)
  color: white
