@font-face {
  font-family: 'University Oldstyle';
  src: url('{{ "UniversityOldstyle-Book.woff" | asset_url }}') format('woff'), url('UniversityOldstyle-Book.eot') format('eot');
  font-weight: 300;
}
@font-face {
  font-family: 'University Oldstyle';
  src: url('{{ "UniversityOldstyle-BookIt.woff" | asset_url }}') format('woff'), url('UniversityOldstyle-BookIt.eot') format('eot');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'University Oldstyle';
  src: url('{{ "UniversityOldstyle-Medium.woff" | asset_url }}') format('woff'), url('UniversityOldstyle-Medium.eot') format('eot');
  font-weight: normal;
}
@font-face {
  font-family: 'University Oldstyle';
  src: url('{{ "UniversityOldstyle-MediumIt.woff" | asset_url }}') format('woff'), url('UniversityOldstyle-MediumIt.eot') format('eot');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'University Oldstyle';
  src: url('{{ "UniversityOldstyle-Bold.woff" | asset_url }}') format('woff'), url('UniversityOldstyle-Bold.eot') format('eot');
  font-weight: bold;
}
@font-face {
  font-family: 'University Oldstyle';
  src: url('{{ "UniversityOldstyle-BoldIt.woff" | asset_url }}') format('woff'), url('UniversityOldstyle-BoldIt.eot') format('eot');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'University Oldstyle';
  src: url('{{ "UniversityOldstyle-Black.woff" | asset_url }}') format('woff'), url('UniversityOldstyle-Black.eot') format('eot');
  font-weight: 800;
}
@font-face {
  font-family: 'University Oldstyle';
  src: url('{{ "UniversityOldstyle-BlackIt.woff" | asset_url }}') format('woff'), url('UniversityOldstyle-BlackIt.eot') format('eot');
  font-weight: 800;
  font-style: italic;
}
