// colors
$primary: lighten(purple, 10%)
$secondary: cyan
$white: white
$black: black
$med-grey: #858585
$light-grey: #a0a0a0
$light: darken($white, 10%)
$dark: lighten($black, 10%)
$border: #E8E8E8

// dimensions
$max-width: 1100px
$max-width-large: 2200px
$pad: 40px
$header-height: 100px
$header-height-mobile: 50px

// breakpoints
$tablet-landscape: 1024px
$tablet: 768px
$mobile: 600px

// misc
$base-speed: 150ms
