// colors
$primary: lighten(purple, 10%)
$secondary: cyan
$white: white
$black: black
$light: darken($white, 10%)
$dark: lighten($black, 10%)

// dimensions
$max-width: 1100px
$max-width-large: 2200px
$pad: 40px

// breakpoints
$tablet-landscape: 1024px
$tablet: 728px
$mobile: 600px

// misc
$base-speed: 150ms
