#customer-account, #customer-addresses

  .address_actions
    a
      display: inline-block
      padding: 4px 10px
      font-size: 12px
      background-color: #d0d0d0
      color: $white

      &:hover
        background-color: #ccc


  .customer-page-wrap
    position: relative
    min-height: 400px

  #customer_logout_link
    font-size: 11px
    font-weight: 500
    color: #ccc

  .customer-columns-wrap
    position: relative
    overflow: hidden

  #customer_sidebar
    float: left
    +customersidebar

    ul
      margin-left: 15px
      padding: 0

      a
        font-weight: bold

    h2
      +customersidebarheading

    .email
      font-weight: 400
      font-size: 14px
      margin: 0

  #customer_orders
    width: calc(100% - 280px)
    float: right

    h1, h2
      +customerheading

  @media (max-width:$mobile)
    #customer_sidebar
      width: 100%
      position: relative
      margin-bottom: 30px

    #customer_orders
      width: 100%

  .view_address, .address.note
    margin: 20px 0

    p
      margin: 0

    #view_address
      margin-top: 20px
