.grid-item
  .shopify-product-reviews-badge
    display: inline-block

  .spr-badge
    display: inline-block

  .spr-badge-caption
    display: none

  .spr-badge-starrating .spr-icon
    font-size: 11px
    margin: 2px
    opacity: 1

  .spr-icon.spr-icon-star-empty
    color: #ccc !important

  .spr-icon.spr-icon-star
    color: $primary !important

  .spr-badge[data-rating="0.0"]
    display: none
