{% layout settings.customer_layout %}
<div id="customer-login-page">
  <div id="register" class="page">

    <div class="page-heading">
      <h1>Create an account</h1>
    </div>

    <div class="section customer-register">
      <div class="inputs">

        {% form 'create_customer' %}
          {{ form.errors | default_errors }}

          <input type="text" value="" class="text" name="customer[first_name]" id="first_name" placeholder="First Name" />
          <input type="text" value="" class="text" name="customer[last_name]" id="last_name" placeholder="Last Name" />
          <input type="email" value="" class="text" name="customer[email]" id="email" placeholder="Email Address" />
          <input type="password" value="" class="text" name="customer[password]" id="password" class="password" placeholder="Password" />


          <div class="action_bottom">
            <input class="btn dark f-left" type="submit" value="Create Account" />
          </div>
        {% endform %}

      </div>

    </div>
</div>
