$primary-color: black;
$secondary-color: gray;
$light-color: #ccc;
$ultra-light-color: #fafafa;
$border-color: #e1e1e1;
$dark-color: #15171a;
$water-color: rgba(182, 191, 197, 0.25);
$ghost-color: rgba(182, 191, 197, 0.1);
$ink-color: rgba(0, 0, 0, 0.3);
$green: #3ac836;
$red: #E75A48;