/*
Error: Invalid CSS after "...upport-article"": expected "{", was ";"
        on line 54 of /Users/Nick/Sites/boiler/sass/styles.scss

49: @import "modules/to-do-next";
50: @import "modules/tabs";
51: @import "modules/showcase";sss
52: 
53: /* Views *\/
54: @import "views/support-article";
55: @import "views/related-products";
56: @import "views/customer";
57: @import "views/cart";
58: @import "views/search";
59: @import "views/why-rhino";

Backtrace:
/Users/Nick/Sites/boiler/sass/styles.scss:54
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/scss/parser.rb:1179:in `expected'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/scss/parser.rb:1115:in `expected'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/scss/parser.rb:1110:in `tok!'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/scss/parser.rb:655:in `block'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/scss/parser.rb:649:in `ruleset'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/scss/parser.rb:674:in `block_child'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/scss/parser.rb:126:in `stylesheet'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/scss/parser.rb:42:in `parse'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/engine.rb:403:in `_to_tree'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/engine.rb:278:in `render'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/bin/compass:23:in `load'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/bin/compass:23:in `<main>'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/bin/ruby_executable_hooks:15:in `eval'
/Users/Nick/.rvm/gems/ruby-2.0.0-p598/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...upport-article\"\": expected \"{\", was \";\"\A         on line 54 of /Users/Nick/Sites/boiler/sass/styles.scss\A \A 49: @import \"modules/to-do-next\";\A 50: @import \"modules/tabs\";\A 51: @import \"modules/showcase\";sss\A 52: \A 53: /* Views */\A 54: @import \"views/support-article\";\A 55: @import \"views/related-products\";\A 56: @import \"views/customer\";\A 57: @import \"views/cart\";\A 58: @import \"views/search\";\A 59: @import \"views/why-rhino\";"; }
