{% assign products_per_page = settings.products_per_row | times: settings.number_of_rows %}
{% assign numbers = 'zero, one, two, three, four, five, six' | split: ',' %}
{% assign products_per_row = settings.products_per_row | times: 1 %}
{% assign products_per_row = numbers[products_per_row] | strip | append: '-per-row' %}

{% paginate collection.products by products_per_page %}

<div class="page-heading">
  <h1>{{ collection.title }}</h1>
  {% if collection.description.size > 0 %}
    <p>{{ collection.description }}</div>
  {% endif %}
</div>

<div class="section">
  <div class="width-restrict pad-bottom">
    <div class="grid grid-4 no-slick">
      {% for product in collection.products %}
        {% include 'product-grid-item' %}
      {% else %}
        <p>There are no products in this view.</p>
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
    <div class="pagination centered">
      {{ paginate | default_pagination }}
    </div>
    {% endif %}

    {% endpaginate %}

  </div>
</div>
