{% paginate collection.products by settings.collection-page-limit %}

<div class="page-heading">
  <h1>{{ collection.title }}</h1>
  {% if collection.description.size > 0 %}
    <p>{{ collection.description }}</p>
  {% endif %}
</div>

<div class="section">
  <div class="width-restrict pad">
    <div class="grid grid-{{ settings.max-grid-cols }}">
      {% for product in collection.products %}
        {% include 'product-grid-item' %}
      {% else %}
        <p class="no-products">There are no products in this view.</p>
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
    <div class="pagination centered">
      {{ paginate | default_pagination }}
    </div>
    {% endif %}

    {% endpaginate %}

  </div>
</div>
