<div class="section">
  <div class="width-restrict pad">


    <h2>Buttons, Inputs, etc</h2>

    <a class="btn"></a>
    <input type="submit" value="test submit here">

    <textarea>Hey it's a textarea!</textarea>
    <input type="text" placeholder="Text Field Bruh!" />
    <input type="email" placeholder="Email@Bruh.com" />
    <input type="password" placeholder="Pass Pass" />
    <input type="number" placeholder="123" />


    {% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
    {% assign page = pages[settings.homepage_page] %}
    <div class="rte grid-margins">
      {{ page.content }}
    </div>
    {% endunless %}

    {% unless settings.homepage_collection == blank or collections[settings.homepage_collection].empty? %}
    {% assign collection = collections[settings.homepage_collection] %}
    <ul class="grid clearfix">
    {% for product in collection.products %}
      {% include 'product-grid-item' with 'three-per-row' %}
    {% else %}
    <li>
      <p>
        You have no products in your {{ collections[settings.homepage_collection].title }} collection.
        <a href="http://www.shopify.com/admin/collections">Add some.</a>
      <p>
    </li>
    {% endfor %}
    </ul>
    {% endunless %}

  </div>
</div>
