<div class="section">
  <div class="width-restrict pad">

    <h2>Test Icon Fonts</h2>
    <div class="icon-price"></div>
    <div class="icon-money"></div>
    <div class="icon-facebook"></div>
    <div class="icon-instagram"></div>


    <h2>Buttons, Inputs, etc</h2>

    <a class="btn"></a>
    <input type="submit">


    {% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
    {% assign page = pages[settings.homepage_page] %}
    <div class="rte grid-margins">
      {{ page.content }}
    </div>
    {% endunless %}

    {% unless settings.homepage_collection == blank or collections[settings.homepage_collection].empty? %}
    {% assign collection = collections[settings.homepage_collection] %}
    <ul class="grid clearfix">
    {% for product in collection.products %}
      {% include 'product-grid-item' with 'three-per-row' %}
    {% else %}
    <li>
      <p>
        You have no products in your {{ collections[settings.homepage_collection].title }} collection.
        <a href="http://www.shopify.com/admin/collections">Add some.</a>
      <p>
    </li>
    {% endfor %}
    </ul>
    {% endunless %}

  </div>
</div>
