.marquee-slider
  position: relative

  .width-restrict
    position: relative

  .ghost, .mobile-ghost
    position: relative
    width: 100%
    height: auto

  .mobile-ghost
    display: none

  .slick-list, .slick-track, #shopify-section-slider
    height: 100%
    position: relative

  #shopify-section-slider
    +absolute
    width: 100%

  .slides
    +absolute
    background-color: #333

    .slide
      display: none
      position: relative
      height: 100%
      +cover

      &:focus
        outline: none

    .slick-slide
      display: inline-block

  @media (max-width:$mobile)
    margin-top: 0

    .mobile-ghost
      display: block

    .ghost
      display: none


  .copy
    position: absolute
    bottom: 50px
    left: 50px
    width: 55%

    &.overlay
      padding: 20px
      background-color: rgba($black, .5)

      &.dark
        background-color: rgba($white, .5)

    h1
      color: $white

    h2
      color: $white

    @media (max-width:$tablet-landscape)
      width: 80%

    @media (max-width:$tablet)
      width: calc(100% - 50px)
      bottom: 25px
      left: 25px

    @media (max-width:$mobile)
      width: 100%
      position: relative
      bottom: auto
      left: auto
      padding: 30px
      text-align: center
      +center


  .slide.dark
    .copy
      h1, h2
        color: $black !important
